@page
@model BirdFarmShop.Pages.Admin.Dashboard.ChartModel
@{
    ViewData["Title"] = "Chart";
}
    <div>
        <canvas id="myChart" ></canvas>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
        const ctx = document.getElementById('myChart');

        new Chart(ctx, {
            type: 'bar',
            data: {
                labels: ['Chim Sơn Ca', 'Chim Chào Mào', 'Vẹt', 'Chim Họa Mi', 'chim Vàng Anh', 'Chim Sáo', 'Chim Khướu', 'Chim Cu Gáy', 'Chim Chìa Vôi'],
                datasets: [{
                    label: 'Order of Bird',
                    data: [15, 6, 2, 10, 2, 3, 8, 9, 5],
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(255, 159, 64, 0.2)',
                        'rgba(255, 205, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(201, 203, 207, 0.2)'
                    ],
                    borderColor: [
                        'rgb(255, 99, 132)',
                        'rgb(255, 159, 64)',
                        'rgb(255, 205, 86)',
                        'rgb(75, 192, 192)',
                        'rgb(54, 162, 235)',
                        'rgb(153, 102, 255)',
                        'rgb(201, 203, 207)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });
    </script>